<div class="container" style="margin-top: 15px;">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<a [routerLink]="['/Overview']" class="navbar-brand">
                <img src="images/damienbod.jpg" height="40" style="margin-top:-10px;" /></a>-->
                
            </div>

            <div class="navbar-collapse collapse" id="navbar">
                <select (change)="translate.use($event.target.value)" class="navbar-btn">
                    <option *ngFor="#lang of ['fr-CH', 'en-US', 'de-CH', 'it-CH']" [selected]="lang === translate.currentLang">{{lang}}</option>
                </select>
            </div>

            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li  class="navbar-btn" [routerLink]="['/Home']">Home</li>
                </ul>
            </div>

            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="navbar-btn" [routerLink]="['/Shop']">Shop</li>
                </ul>
            </div>
        <!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <router-outlet></router-outlet>

</div>


