src/Angular2LocalizationAspNetCore/node_modules
src/Angular2LocalizationAspNetCore/Angular2LocalizationAspNetCore.xproj.user
src/Angular2LocalizationAspNetCore/project.lock.json
.vs/Angular2LocalizationAspNetCore/v14/.suo
src/Angular2LocalizationAspNetCore/bin
src/Angular2LocalizationAspNetCore/obj
src/Localization.SqlLocalizer/bin
src/Localization.SqlLocalizer/obj
src/Localization.SqlLocalizer/project.lock.json
src/Localization.SqlLocalizer/Localization.SqlLocalizer.xproj.user
.vs/restore.dg
.vs/restore.dg
src/Angular2LocalizationAspNetCore/angular2App/app/app.component.js
src/Angular2LocalizationAspNetCore/angular2App/app/app.component.js.map
src/Angular2LocalizationAspNetCore/angular2App/app/app.constants.js
src/Angular2LocalizationAspNetCore/angular2App/app/app.constants.js.map
src/Angular2LocalizationAspNetCore/angular2App/app/boot.js
src/Angular2LocalizationAspNetCore/angular2App/app/boot.js.map
src/Angular2LocalizationAspNetCore/angular2App/app/home/home.component.js
src/Angular2LocalizationAspNetCore/angular2App/app/home/home.component.js.map
src/Angular2LocalizationAspNetCore/angular2App/app/services/LocalizationRecord.js
src/Angular2LocalizationAspNetCore/angular2App/app/services/LocalizationRecord.js.map
src/Angular2LocalizationAspNetCore/angular2App/app/services/Product.js
src/Angular2LocalizationAspNetCore/angular2App/app/services/Product.js.map
src/Angular2LocalizationAspNetCore/angular2App/app/services/ProductCreateEdit.js
src/Angular2LocalizationAspNetCore/angular2App/app/services/ProductCreateEdit.js.map
src/Angular2LocalizationAspNetCore/angular2App/app/services/ProductService.js
src/Angular2LocalizationAspNetCore/angular2App/app/services/ProductService.js.map
src/Angular2LocalizationAspNetCore/angular2App/app/shop/shop.component.js
src/Angular2LocalizationAspNetCore/angular2App/app/shop/shop.component.js.map
src/Angular2LocalizationAspNetCore/angular2App/app/shop-admin/shop-admin.component.js
src/Angular2LocalizationAspNetCore/angular2App/app/shop-admin/shop-admin.component.js.map
src/Angular2LocalizationAspNetCore/angular2App/app/vendor.js
src/Angular2LocalizationAspNetCore/angular2App/app/vendor.js.map
.vs/config/applicationhost.config
.vs/restore.dg
src/Angular2LocalizationAspNetCore/angular2App/boot.js
src/Angular2LocalizationAspNetCore/angular2App/boot.js.map
src/Angular2LocalizationAspNetCore/angular2App/polyfills.js
src/Angular2LocalizationAspNetCore/angular2App/polyfills.js.map
src/Angular2LocalizationAspNetCore/angular2App/vendor.js
src/Angular2LocalizationAspNetCore/angular2App/vendor.js.map
artifacts/obj/Angular2LocalizationAspNetCore/Debug
src/Angular2LocalizationAspNetCore/npm-debug.log
src/Angular2LocalizationAspNetCore/aot/node_modules
src/Angular2LocalizationAspNetCore/aot
src/Angular2LocalizationAspNetCore/angular2App/app/app.module.js
src/Angular2LocalizationAspNetCore/angular2App/app/app.routes.js
src/Angular2LocalizationAspNetCore/wwwroot
